@keyframes blink
    0%
        opacity: 0.5
    50%
        opacity: 1
    100%
        opacity: 0.5

.loading-card
    background-color: #dddddd
    border-radius: 8px
    height: 190px
    width: 252px
    margin-bottom: 10px
    animation: blink 1s infinite alternate
