<div class="container-card">
  <div
    class="box-image"
    [style.backgroundImage]="
      'url(' + convertBase64ToImageUrl(card.images[0]) + ')'
    "
    (click)="redirect(card.id)"
  ></div>

  <div class="box-texts">
    <h1 class="name-institution">{{ card.name }}</h1>
    <div class="box-category">
      <ng-container *ngFor="let category of card.categories">
        <div class="flag" [style.backgroundColor]="category.color">
          <span class="flag">{{ category.categoryAlias }}</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
