<button
  [disabled]="disabled"
  class="button"
  [ngClass]="tema"
  [style.background]="customColor.backgroundColor"
  [style.color]="customColor.color"
  (click)="onClick()"
  id="buttonSelector"
  data-cy="button-component"
>
  <ng-container *ngIf="loading; else conteudoBotao">
    <app-loading-solid> </app-loading-solid>
  </ng-container>

  <ng-template #conteudoBotao>
    <div [class]="classContainer">
      <img [src]="pathIcon" alt="" *ngIf="stateIcon" class="icon" />
      <div class="content">
        <ng-content></ng-content>
      </div>
      <ng-container *ngIf="suffixIcon">
        <img [src]="suffixIcon" alt="" class="suffix-icon"
      /></ng-container>
    </div>
  </ng-template>
</button>
