<div class="configuration-box-about">
    <div class="configuration-header">
        <h3>Configurações</h3>
        <div class="edit-button">
            <app-button
                theme="primary"
                width="230px"
                data-cy="button-editar-perfil"
                >Editar Configurações</app-button>
        </div>
    </div>
    <div class="tabs">
        <div class="tab" (click)="handleTabClick($event)">
            Sobre
        </div>
        <div class="tab" (click)="handleTabClick($event)">
            Projetos
        </div>
        <div class="border"></div>
    </div>
    <div class="about-content" *ngIf="isAboutSelected()">
        <div class="text">
            <h4>Nosso impacto</h4>
            <textarea name="" id="">

            </textarea>
        </div>
        <div class="filters">
            <div class="filter-title">
                <h4>Nossas causas</h4>
            </div>
            <div class="option">
                <p>Adolescentes</p>
                <label class="toggle-switch">
                    <input type="checkbox">
                    <div class="toggle-switch-background">
                    <div class="toggle-switch-handle"></div>
                    </div>
                </label>
            </div>
            <div class="option">
                <p>Mulheres</p>
                <label class="toggle-switch">
                    <input type="checkbox">
                    <div class="toggle-switch-background">
                    <div class="toggle-switch-handle"></div>
                    </div>
                </label>
            </div>
            <div class="option">
                <p>Crianças</p>
                <label class="toggle-switch">
                    <input type="checkbox">
                    <div class="toggle-switch-background">
                    <div class="toggle-switch-handle"></div>
                    </div>
                </label>
            </div>
            <div class="option">
                <p>Idosos</p>
                <label class="toggle-switch">
                    <input type="checkbox">
                    <div class="toggle-switch-background">
                    <div class="toggle-switch-handle"></div>
                    </div>
                </label>
            </div>
        </div>
    </div>
    <div class="project-content" *ngIf="!isAboutSelected()">
        <div class="card">
            <img style="width: 210px; height: 210px;" src="assets/icons/logo.svg" alt="" />
            <div class="card-content">
                <div class="card-left">
                    <h4>Prato Cheio</h4>
                    <p>Só a solidariedade nos une. Desta troca, nasce o projeto, a Instituição, a ação, a casa que acolhe e cuida, que dá esperança. Para as barrigas vazias e mãos estendidas, queremos dar o pão, o circo, a escola, o brinquedo, o afeto, o livro, a canção, a dança, a vida, a esperança – viver bem a vida, desde a primeira infância.Nossa missão é acolher e cuidar do desenvolvimento da primeira infância com os conhecimentos da neurociência, oferecendo saúde de excelência, arte, cultura e educação para nossas crianças.</p>
                </div>
                <div class="card-right">
                    <div class="link-instagram">
                        <p>Link para Instagram</p>
                        <a href="">https://www.instagram.com/ipredeoficial/</a>
                    </div>
                    <div class="link-whatsapp">
                        <p>Link para Whatsapp</p>
                        <a href="">https://wa.me/5585996096744</a>
                    </div>
                </div>          
            </div>
        </div>
        <button class="add-card">
            <img style="width: 24px; height: 24px;" src="assets/icons/add-circle.svg" alt="" />
            <p>Adicionar novo projeto</p>
        </button>
    </div>
</div>
