<div class="container-left-bar">
  <div class="logo">
    <img src="assets/icons/logo.svg" alt="" class="logo" />
  </div>
  <div class="box-itens">
    <ng-container *ngFor="let option of menuOptions">
      <div
        class="item"
        routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="[option.path]"
      >
        <img [src]="option.src" alt="" />
        <span>{{ option.label }}</span>
      </div>
    </ng-container>
  </div>
  <div class="box-close">
    <div class="box-button">
      <app-button
        theme="primary"
        pathIcon="assets/icons/logout.svg"
        (click)="logout()"
        >Sair</app-button
      >
    </div>
  </div>
</div>
