<ng-container *ngIf="institution$ | async as institution; else skeleton">
  <div class="container-intitution">
    <div class="media">
      <ng-container *ngFor="let socialMedia of socialMedias">
        <img
          [src]="socialMedia.icon"
          alt=""
          (click)="redirect(socialMedia.link)"
      /></ng-container>
    </div>
    <div class="box-header">
      <div class="box-infos">
        <img src="assets/icons/iprede.svg" alt="" />
        <div class="box-name-and-tags">
          <h1 class="name-institution">{{ institution.name }}</h1>
          <div class="box-tags">
            <ng-container *ngFor="let tag of institution.categories">
              <span class="tag">{{ tag.categoryAlias }}</span>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="box-button">
        <app-button
          (click)="redirectPage()"
          [customColor]="customColor"
          suffixIcon="/assets/icons/heart.svg"
          >Doar
        </app-button>
      </div>
    </div>

    <div class="box-carousel">
      <div class="box-image">
        <img [src]="convertBase64ToImageUrl(currentImage)" alt="" />
      </div>

      <div class="box-options-images">
        <ng-container *ngFor="let image of banners; let i = index">
          <div class="box-image" (click)="handleImage(image)">
            <img [src]="convertBase64ToImageUrl(image)" alt="" />
          </div>
        </ng-container>
      </div>
    </div>

    <div class="container-about">
      <ng-container *ngIf="institution !== null">
        <div class="what-have-we-done">
          <h1>O que temos feito</h1>
        </div>

        <h1 class="our-impact">Nosso Impacto</h1>

        <p class="impact-description">
          {{ institution.about.text }}
        </p>
      </ng-container>

      <div class="our-projects">
        <h1>Nossos Projetos</h1>
      </div>
      <div class="box-projects">
        <ng-container
          *ngFor="let project of institution.aboutProjects; let i = index"
        >
          <div
            class="project"
            [style.flexDirection]="i % 2 === 0 ? 'row' : 'row-reverse'"
          >
            <img [src]="convertBase64ToImageUrl(project.image)" alt="" />
            <div class="box-title-and-description">
              <h1 [style.color]="i % 2 === 0 ? '#FFC107' : '#2196F3'">
                {{ project.title }}
              </h1>
              <p>
                {{ project.text }}
              </p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #skeleton>
  <app-skeleton [width]="'100%'" height="900px"> </app-skeleton>
</ng-template>
