<div class="container-table">
  <div class="box-filter"></div>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>N° Doação</th>
          <th>Alim. doado</th>
          <th>Data</th>
          <th>Coletor</th>
          <th>Moedas ganhas</th>
          <!-- <th>Destino</th> -->
          <th>Contato</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#1</td>
          <td>Frutas</td>
          <td>08/05/2023</td>
          <td>Gabriel Castro</td>
          <td>$5</td>
          <!-- <td>Comunidade do Lagamar</td> -->
          <td>
            <img
              class="whatsapp"
              src="assets/icons/whatsapp.svg"
              alt=""
              (click)="redirect('0')"
            />
          </td>
        </tr>
        <tr>
          <td>#1</td>
          <td>Frutas</td>
          <td>08/05/2023</td>
          <td>Gabriel Castro</td>
          <td>$5</td>
          <!-- <td>Comunidade do Lagamar</td> -->
          <td>
            <img
              class="whatsapp"
              src="assets/icons/whatsapp.svg"
              alt=""
              (click)="redirect('0')"
            />
          </td>
        </tr>
        <tr>
          <td>#1</td>
          <td>Frutas</td>
          <td>08/05/2023</td>
          <td>Gabriel Castro</td>
          <td>$5</td>
          <!-- <td>Comunidade do Lagamar</td> -->
          <td>
            <img
              class="whatsapp"
              src="assets/icons/whatsapp.svg"
              alt=""
              (click)="redirect('0')"
            />
          </td>
        </tr>
        <tr>
          <td>#1</td>
          <td>Frutas</td>
          <td>08/05/2023</td>
          <td>Gabriel Castro</td>
          <td>$5</td>
          <!-- <td>Comunidade do Lagamar</td> -->
          <td>
            <img
              class="whatsapp"
              src="assets/icons/whatsapp.svg"
              alt=""
              (click)="redirect('0')"
            />
          </td>
        </tr>
        <tr>
          <td>#1</td>
          <td>Frutas</td>
          <td>08/05/2023</td>
          <td>Gabriel Castro</td>
          <td>$5</td>
          <!-- <td>Comunidade do Lagamar</td> -->
          <td>
            <img class="whatsapp" src="assets/icons/whatsapp.svg" alt="" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
