@import "variables"

.container-table
  width: 100%

  .box-filter
    width: 100%

  .table
    width: 100%

    table
      width: 100%
      border-collapse: collapse

      thead
        background: $color-primary
        height: 52px
        padding-left: 44px
        box-sizing: border-box

        th
          text-align: start
          color: $color-white
          padding-left: 44px

      tbody
        width: 100%
        margin-top: 16px

        tr
          width: 100%
          height: 52px
          background: $color-white
          margin-top: 16px
          border-bottom: 0.5px solid rgba(41, 45, 50, 0.5)

          &:first-child
            margin-top: 16px

          td
            color: $color-black
            padding-left: 44px

.whatsapp
  width: 20px
  cursor: pointer
