<div class="container-table">
  <div class="box-filter"></div>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>N° Doação</th>
          <ng-container *ngIf="isReceiver; else columnDonor">
            <th>Doador</th></ng-container
          >
          <ng-template #columnDonor>
            <th>Instituição</th>
          </ng-template>
          <th>Alim. doado</th>
          <th>Data</th>
          <th>Peso</th>
          <th>Contato</th>
          <th>{{ showActions ? "Ações" : "Status" }}</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngIf="loadingData; else dataContent">
          <ng-container *ngFor="let skeleton of skeletons">
            <tr>
              <td colspan="7">
                <app-skeleton [width]="'100%'" [height]="'10px'"></app-skeleton>
              </td>
            </tr>
          </ng-container>
        </ng-container>

        <ng-template #dataContent>
          <ng-container *ngFor="let donation of data">
            <tr *ngIf="donation">
              <td>#{{ donation.id }}</td>
              <ng-container *ngIf="isReceiver; else isDonor">
                <td>{{ donation.donor.name }}</td>
              </ng-container>
              <ng-template #isDonor>
                <td>{{ donation.receiver.name }}</td>
              </ng-template>
              <td class="tooltip-container">
                <span
                  *ngIf="donation.foodNames.length > 5"
                  (mouseover)="showTooltip($event)"
                  (mouseout)="hideTooltip($event)"
                >
                  {{ getFoodNamesSummary(donation.foodNames).summary }}
                  <div class="tooltip">
                    <div
                      *ngFor="
                        let item of getFoodNamesSummary(donation.foodNames)
                          .tooltip
                      "
                    >
                      {{ item }}
                    </div>
                  </div>
                </span>
                <span *ngIf="donation.foodNames.length <= 5">
                  {{ getFoodNamesSummary(donation.foodNames).summary }}
                </span>
              </td>
              <td>{{ donation.createdAt | date : "dd/MM/yyyy" }}</td>
              <td>{{ donation.weight }} Kg</td>
              <td>
                <img
                  class="whatsapp"
                  src="assets/icons/whatsapp.svg"
                  alt=""
                  (click)="redirect('0')"
                />
              </td>
              <td class="actions-status">
                <ng-container *ngIf="showActions">
                  <app-dropdown
                    (actionSelected)="handleData($event, donation)"
                  ></app-dropdown>
                </ng-container>
                <ng-container *ngIf="!showActions">
                  <app-status [status]="donation.status"></app-status>
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </ng-template>

        <ng-container *ngIf="!hasContent && !loadingData">
          <tr>
            <td colspan="7" class="not-found">
              <span>Nenhuma doação pendente encontrada</span>
            </td>
          </tr>
        </ng-container>

        <!-- <tr *ngIf="totalPages > 1 && hasContent">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <app-pagination
              [currentPage]="currentPage"
              [totalPages]="totalPages"
              (pageChange)="onPageChange($event)"
            >
            </app-pagination>
          </td>
        </tr> -->
      </tbody>
    </table>
    <div class="box-pagination" *ngIf="totalPages > 1 && hasContent">
      <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="onPageChange($event)"
      >
      </app-pagination>
    </div>
  </div>
</div>
