<div class="container-table">
  <div class="box-filter"></div>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>N° Doação</th>
          <th>Alim. doado</th>
          <th>Data</th>
          <th>Peso</th>
          <th>Contato</th>
          <th>{{ showActions ? 'Ações' : 'Status' }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let donation of data">
          <td>#{{ donation.id }}</td>
          <td>{{ donation.foodType }}</td>
          <td>{{ donation.createdAt | date }}</td>
          <td>{{ donation.weight }} Kg</td>
          <td>
            <img class="whatsapp" src="assets/icons/whatsapp.svg" alt="" (click)="redirect('0')" />
          </td>
          <td>
            <ng-container *ngIf="showActions">
              <app-dropdown></app-dropdown>
            </ng-container>
            <ng-container *ngIf="!showActions">
              <app-status [status]="donation.status"></app-status>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <app-pagination 
            [currentPage]="currentPage" 
            [totalPages]="totalPages" 
            (pageChange)="onPageChange($event)">
            </app-pagination>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
