<div class="donation-container">
    <div class="donation-filter">
        <div class="filter-left">
            <h3>Alimentos que esta instituição necessita:</h3>
            <div class="filter-options">
                <div class="filter-option">
                    <input type="checkbox" id="option1" name="option1" value="option1">
                    <label for="option1">Arroz</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option2" name="option2" value="option2">
                    <label for="option2">Feijão</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option3" name="option3" value="option3">
                    <label for="option3">Macarrão</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option4" name="option4" value="option4">
                    <label for="option4">Óleo</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option5" name="option5" value="option5">
                    <label for="option5">Açúcar</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option6" name="option6" value="option6">
                    <label for="option6">Sal</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option7" name="option7" value="option7">
                    <label for="option7">Farinha de trigo</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option8" name="option8" value="option8">
                    <label for="option8">Leite</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option9" name="option9" value="option9">
                    <label for="option9">Café</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option10" name="option10" value="option10">
                    <label for="option10">Achocolatado</label>
                </div>
            </div>
        </div>
        <div class="filter-right">
            <button>
                + Mostrar mais
            </button>
        </div>
    </div>
    <div class="donation-box">
        <div class="left-box">
            <div class="inputs">
                <div class="food-name">
                    <div class="food-name-title">
                        <label for="quantity">Nome do alimento</label>
                        <!-- image -->
                    </div>
                    <app-input
                        type="food-name"
                        placeholder="Banana prata"
                        name="food-name"
                        ngDefaultControl
                        data-cy="food-name"
                    ></app-input>
                </div>
                <div class="weight">
                    <div class="weight-title">
                        <label for="weight">Peso</label>
                        <!-- image -->
                    </div>
                    <app-input
                        type="food-weight"
                        placeholder="25.7 Kg"
                        name="food-weight"
                        ngDefaultControl
                        data-cy="food-weight"
                    ></app-input>
                </div>
            </div>
            <div class="buttons">
                <app-button 
                theme="secondary"
                width="360px"
                data-cy="button-add-food">Adicionar Alimento</app-button>
                <app-button 
                theme="primary"
                width="360px"
                data-cy="button-end-donation">Finalizar Doação</app-button>
            </div>
        </div>
        <div class="right-box">
            <div class="food-items">
                <div class="food-item">
                    <p class="item-name">Banana</p>
                    <div class="item">
                        <p>25 Kg</p>
                        <svg xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 -960 960 960" width="20px" fill="#7C87AA"><path d="m339-288 141-141 141 141 51-51-141-141 141-141-51-51-141 141-141-141-51 51 141 141-141 141 51 51ZM480-96q-79 0-149-30t-122.5-82.5Q156-261 126-331T96-480q0-80 30-149.5t82.5-122Q261-804 331-834t149-30q80 0 149.5 30t122 82.5Q804-699 834-629.5T864-480q0 79-30 149t-82.5 122.5Q699-156 629.5-126T480-96Zm0-72q130 0 221-91t91-221q0-130-91-221t-221-91q-130 0-221 91t-91 221q0 130 91 221t221 91Zm0-312Z"/></svg>
                    </div>
                </div>
            </div>
            <div class="price">
                <div class="price-left">
                    <p>Total em kgs:</p>
                    <div>157</div>
                </div>
                <div class="price-right">
                    <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#7C87AA"><path d="M319.33-246.67h321.34v-66.66H319.33v66.66Zm0-166.66h321.34V-480H319.33v66.67ZM226.67-80q-27 0-46.84-19.83Q160-119.67 160-146.67v-666.66q0-27 19.83-46.84Q199.67-880 226.67-880H574l226 226v507.33q0 27-19.83 46.84Q760.33-80 733.33-80H226.67Zm314-542.67v-190.66h-314v666.66h506.66v-476H540.67Zm-314-190.66v190.66-190.66 666.66-666.66Z"/></svg>
                </div>
            </div>
        </div>
    </div>
    <div class="filter-subtitles">
        <div class="subtitles">
            <p>Legenda</p>
            <div class="filter-options">
                <div class="filter-option">
                    <input type="checkbox" id="option1" name="option1" value="option1">
                    <label for="option1">Urgente</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option1" name="option1" value="option1">
                    <label for="option1">Urgente</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option1" name="option1" value="option1">
                    <label for="option1">Urgente</label>
                </div>
            </div>
        </div>
    </div>
</div>