<div class="donation-container">
    <div class="donation-filter">
        <div class="filter-left">
            <h3>Alimentos que esta instituição necessita:</h3>
            <div class="filter-options">
                <div class="filter-option">
                    <input type="checkbox" id="option1" name="option1" value="option1">
                    <label for="option1">Arroz</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option2" name="option2" value="option2">
                    <label for="option2">Feijão</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option3" name="option3" value="option3">
                    <label for="option3">Macarrão</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option4" name="option4" value="option4">
                    <label for="option4">Óleo</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option5" name="option5" value="option5">
                    <label for="option5">Açúcar</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option6" name="option6" value="option6">
                    <label for="option6">Sal</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option7" name="option7" value="option7">
                    <label for="option7">Farinha de trigo</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option8" name="option8" value="option8">
                    <label for="option8">Leite</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option9" name="option9" value="option9">
                    <label for="option9">Café</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option10" name="option10" value="option10">
                    <label for="option10">Achocolatado</label>
                </div>
            </div>
        </div>
        <div class="filter-right">
            <button>
                + Mostrar mais
            </button>
        </div>
    </div>
    <div class="donation-box">
        <div class="left-box">
            <div class="inputs">
                <div class="food-name">
                    <div class="food-name-title">
                        <label for="quantity">Nome do alimento</label>
                        <!-- image -->
                    </div>
                    <app-input
                        type="food-name"
                        placeholder="Banana prata"
                        name="food-name"
                        ngDefaultControl
                        data-cy="food-name"
                    ></app-input>
                </div>
                <div class="weight">
                    <div class="weight-title">
                        <label for="weight">Peso</label>
                        <!-- image -->
                    </div>
                    <app-input
                        type="food-weight"
                        placeholder="25.7 Kg"
                        name="food-weight"
                        ngDefaultControl
                        data-cy="food-weight"
                    ></app-input>
                </div>
            </div>
            <div class="buttons">
                <app-button 
                theme="secondary"
                width="360px"
                data-cy="button-add-food">Adicionar Alimento</app-button>
                <app-button 
                theme="primary"
                width="360px"
                data-cy="button-end-donation">Finalizar Doação</app-button>
            </div>
        </div>
        <div class="right-box">
            <img src="../../../../../../../assets/images/donation-background-list.svg" alt="">
        </div>
    </div>
    <div class="filter-subtitles">
        <div class="subtitles">
            <p>Legenda</p>
            <div class="filter-options">
                <div class="filter-option">
                    <input type="checkbox" id="option1" name="option1" value="option1">
                    <label for="option1">Urgente</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option1" name="option1" value="option1">
                    <label for="option1">Urgente</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" id="option1" name="option1" value="option1">
                    <label for="option1">Urgente</label>
                </div>
            </div>
        </div>
    </div>
</div>