<div class="main">
  <div class="title">
    <h1>Últimas doações</h1>
  </div>
  <div class="cards">
    <ng-container *ngIf="donationHistory.data; else skeleton">
      <p-carousel
        [value]="donationHistory.data.donations"
        [numVisible]="2"
        [numScroll]="2"
        [circular]="false"
        [showNavigators]="false"
      >
        <ng-template let-donation pTemplate="item">
          <app-card-institution
            [card]="donation.receiver"
          ></app-card-institution>
        </ng-template>
      </p-carousel>
    </ng-container>
    <ng-template #skeleton>
      <ng-container *ngFor="let skeleton of skeletons">
        <app-skeleton></app-skeleton>
      </ng-container>
    </ng-template>
  </div>

  <ng-container *ngIf="totalDonation$ | async as totalDonation">
    <div class="title">
      <h1>Histórico de doações</h1>
    </div>
    <div class="cards-donation">
      <app-card
        title="Quantidade de doações"
        [number]="totalDonation.totalDonations.count"
      ></app-card>
      <app-card
        title="Kgs doados"
        [number]="totalDonation.totalDonations.sum"
      ></app-card>
    </div>
  </ng-container>

  <div class="box-table">
    <app-table
      [data]="donations"
      (pageChange)="onPageChange($event)"
      [currentPage]="currentPage"
      [totalPages]="totalPages"
    ></app-table>
  </div>
</div>
