<div class="main">
  <div class="title">
    <h1>Últimas doações</h1>
  </div>
  <div class="cards">
    <ng-container *ngIf="donationHistory.data; else skeleton">
      <ng-container *ngFor="let donation of donationHistory.data">
        <app-card-institution [card]="donation.receiver"></app-card-institution>
      </ng-container>
    </ng-container>

    <ng-template #skeleton>
      <ng-container *ngFor="let skeleton of skeletons">
        <app-skeleton></app-skeleton>
      </ng-container>
    </ng-template>
  </div>

  <div class="title">
    <h1>Histórico de doações</h1>
  </div>
  <div class="cards-donation">
    <app-card title="Quantidade de doações" number="16"></app-card>
    <app-card title="Kgs doados" number="120kg"></app-card>
    <!-- <app-card title="Moedas adquiridas" number="$20"></app-card> -->
  </div>
  <div class="box-table">
    <app-table></app-table>
  </div>
</div>
