<!-- <div class="container">
  <div class="box-image">
    <img src="assets/images/banner-login.png" alt="" />
  </div>

  <div class="box-forms">
    <img class="logo" src="assets/icons/logo.svg" alt="" />
    <p class="slogan">
      <span>Alimentos </span>
      doados, <br />comunidades alimentadas
    </p>
    <form class="inputs" action="/form" autocomplete="off">
      <div class="tabs">
        <div
          (click)="setCurrentTab('tab1')"
          [class.active]="currentTab === 'tab1'"
        >
          <span>Natureza do perfil</span>
        </div>
        <div
          (click)="setCurrentTab('tab2')"
          [class.active]="currentTab === 'tab2'"
        >
          <span>Perfil</span>
        </div>
        <div
          (click)="setCurrentTab('tab3')"
          [class.active]="currentTab === 'tab3'"
        >
          <span>Endereço</span>
        </div>
        <div
          (click)="setCurrentTab('tab4')"
          [class.active]="currentTab === 'tab4'"
        >
          <span>Instituição</span>
        </div>
      </div>

      <div class="tab-content">
        <ng-container *ngIf="currentTab === 'tab1'">
          <h1 class="first-step-title">
            Iremos começar o seu cadastro no
            <span class="alimentarize">A</span>limentarize. Por favor, escolha
            se você será um doador ou uma instituição que irá receber as
            doações.
          </h1>
          <div class="box-options">
            <div class="box-checkbox">
              <span>Serei uma instituição</span>
              <input
                type="radio"
                name="institution"
                id="institution"
                value="receiver"
                [(ngModel)]="typeInstitution"
              />
            </div>

            <div class="box-checkbox">
              <span>Serei um doador</span>
              <input
                type="radio"
                name="institution"
                id="institution"
                value="donor"
                [(ngModel)]="typeInstitution"
              />
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="currentTab === 'tab2'">
          <app-input
            type="text"
            placeholder="Nome da instituição"
            name="name"
            ngDefaultControl
            [(ngModel)]="user.name"
          ></app-input>
          <app-input
            type="text"
            placeholder="Telefone"
            name="number"
            ngDefaultControl
            [(ngModel)]="user.phoneNumber"
          ></app-input>
          <app-input
            type="Email"
            placeholder="E-mail"
            name="email"
            ngDefaultControl
            [(ngModel)]="user.email"
          ></app-input>
          <app-input
            type="password"
            placeholder="Confirmar senha"
            name="senha"
            ngDefaultControl
            [(ngModel)]="user.password"
          ></app-input>
          <app-input
            type="password"
            placeholder="Senha"
            name="Confirmar Senha"
            ngDefaultControl
            [(ngModel)]="confirmPassword"
          ></app-input>
        </ng-container>
        <ng-container *ngIf="currentTab === 'tab3'">
          <div class="box-address">
            <div class="row">
              <div class="box-item box-cep">
                <span>CEP</span>
                <app-input
                  type="text"
                  placeholder="CEP"
                  name="cep"
                  ngDefaultControl
                  [(ngModel)]="user.cep"
                  (onBlur)="onBlur($event)"
                ></app-input>
              </div>
            </div>
            <div class="row">
              <div class="box-item three-itens">
                <span>Cidade</span>
                <app-input
                  type="text"
                  placeholder="Cidade"
                  name="cidade"
                  ngDefaultControl
                  [(ngModel)]="user.city"
                  [value]="user.city"
                ></app-input>
              </div>
              <div class="box-item three-itens">
                <span>Estado</span>
                <app-input
                  type="text"
                  placeholder="Estado"
                  name="estado"
                  ngDefaultControl
                  [(ngModel)]="user.state"
                  [value]="user.state"
                ></app-input>
              </div>
              <div class="box-item three-itens">
                <span>Bairro</span>
                <app-input
                  type="text"
                  placeholder="Cidade"
                  name="cidade"
                  ngDefaultControl
                  [(ngModel)]="user.neighborhood"
                  [value]="user.neighborhood"
                ></app-input>
              </div>
            </div>

            <div class="row">
              <div class="box-item box-address">
                <span>Endereço</span>
                <app-input
                  type="text"
                  placeholder="Endereço"
                  name="endereço"
                  ngDefaultControl
                  [(ngModel)]="user.address"
                  [value]="user.address"
                ></app-input>
              </div>
            </div>

            <div class="box-item box-complement">
              <span>Complemento</span>
              <app-input
                type="text"
                placeholder="Complemento"
                name="complemento"
                ngDefaultControl
                [(ngModel)]="user.addressAlias"
              ></app-input>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="currentTab === 'tab4'">
          <div class="box-address">
            <div class="row">
              <div class="box-item box-cnpj">
                <span>Finalidade Jurídica (área (s) de atuação):</span>
                <app-input
                  type="text"
                  placeholder="Digite o número"
                  name="legalPurpose"
                  ngDefaultControl
                  [(ngModel)]="user.legalPurpose"
                  (onBlur)="onBlur($event)"
                ></app-input>
              </div>
            </div>
            <div class="row">
              <div class="box-item three-itens">
                <span>CNPJ</span>
                <app-input
                  type="text"
                  placeholder="CNPJ"
                  name="cnpj"
                  ngDefaultControl
                  [(ngModel)]="user.cnpj"
                  [value]="user.cnpj"
                ></app-input>
              </div>
              <div class="box-item three-itens">
                <span>Data de constituição</span>
                <app-input
                  type="text"
                  placeholder="Data de criação da instituição"
                  name="estado"
                  ngDefaultControl
                  [(ngModel)]="user.legalDateCreate"
                  [value]="user.legalDateCreate"
                ></app-input>
              </div>
              <div class="box-item three-itens">
                <span>Natureza Jurídica</span>
                <app-input
                  type="text"
                  placeholder="Digite a natureza jurídica da instituição"
                  name="legalNature"
                  ngDefaultControl
                  [(ngModel)]="user.legalNature"
                  [value]="user.legalNature"
                ></app-input>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </form>

    <div class="box-buttons">
      <app-button tipo="primary" width="360px" (click)="register()"
        >Criar conta</app-button
      >
      <app-button tipo="secondary" width="360px" [routerLink]="['/']"
        >Login</app-button
      >
    </div>
  </div>
</div> -->

<app-layout-image-forms>
  <div class="box-forms">
    <form class="inputs" action="/form" autocomplete="off">
      <div class="tabs">
        <div
          (click)="setCurrentTab('tab1')"
          [class.active]="currentTab === 'tab1'"
        >
          <span>Natureza do perfil</span>
        </div>
        <div
          (click)="setCurrentTab('tab2')"
          [class.active]="currentTab === 'tab2'"
        >
          <span>Perfil</span>
        </div>
        <div
          (click)="setCurrentTab('tab3')"
          [class.active]="currentTab === 'tab3'"
        >
          <span>Endereço</span>
        </div>
        <div
          (click)="setCurrentTab('tab4')"
          [class.active]="currentTab === 'tab4'"
        >
          <span>Instituição</span>
        </div>
      </div>

      <div class="tab-content">
        <ng-container *ngIf="currentTab === 'tab1'">
          <h1 class="first-step-title">
            Por favor, selecione se você é um doador ou uma instituição.
          </h1>
          <div class="box-options">
            <div class="box-checkbox">
              <span>Serei uma instituição</span>
              <input
                type="radio"
                name="institution"
                id="institution"
                value="receiver"
                [(ngModel)]="typeInstitution"
              />
            </div>

            <div class="box-checkbox">
              <span>Serei um doador</span>
              <input
                type="radio"
                name="institution"
                id="institution"
                value="donor"
                [(ngModel)]="typeInstitution"
              />
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="currentTab === 'tab2'">
          <app-input
            type="text"
            placeholder="Nome da instituição"
            name="name"
            ngDefaultControl
            [(ngModel)]="user.name"
          ></app-input>
          <app-input
            type="text"
            placeholder="Telefone"
            name="number"
            ngDefaultControl
            [(ngModel)]="user.phoneNumber"
          ></app-input>
          <app-input
            type="Email"
            placeholder="E-mail"
            name="email"
            ngDefaultControl
            [(ngModel)]="user.email"
          ></app-input>
          <app-input
            type="password"
            placeholder="Confirmar senha"
            name="senha"
            ngDefaultControl
            [(ngModel)]="user.password"
          ></app-input>
          <app-input
            type="password"
            placeholder="Senha"
            name="Confirmar Senha"
            ngDefaultControl
            [(ngModel)]="confirmPassword"
          ></app-input>
        </ng-container>
        <ng-container *ngIf="currentTab === 'tab3'">
          <div class="box-address">
            <div class="row">
              <div class="box-item box-cep">
                <span>CEP</span>
                <app-input
                  type="text"
                  placeholder="CEP"
                  name="cep"
                  ngDefaultControl
                  [(ngModel)]="user.cep"
                  (onBlur)="onBlur($event)"
                ></app-input>
              </div>
            </div>
            <div class="row">
              <div class="box-item three-itens">
                <span>Cidade</span>
                <app-input
                  type="text"
                  placeholder="Cidade"
                  name="cidade"
                  ngDefaultControl
                  [(ngModel)]="user.city"
                  [value]="user.city"
                ></app-input>
              </div>
              <div class="box-item three-itens">
                <span>Estado</span>
                <app-input
                  type="text"
                  placeholder="Estado"
                  name="estado"
                  ngDefaultControl
                  [(ngModel)]="user.state"
                  [value]="user.state"
                ></app-input>
              </div>
              <div class="box-item three-itens">
                <span>Bairro</span>
                <app-input
                  type="text"
                  placeholder="Cidade"
                  name="cidade"
                  ngDefaultControl
                  [(ngModel)]="user.neighborhood"
                  [value]="user.neighborhood"
                ></app-input>
              </div>
            </div>

            <div class="row">
              <div class="box-item box-address">
                <span>Endereço</span>
                <app-input
                  type="text"
                  placeholder="Endereço"
                  name="endereço"
                  ngDefaultControl
                  [(ngModel)]="user.address"
                  [value]="user.address"
                ></app-input>
              </div>
            </div>

            <div class="box-item box-complement">
              <span>Complemento</span>
              <app-input
                type="text"
                placeholder="Complemento"
                name="complemento"
                ngDefaultControl
                [(ngModel)]="user.addressAlias"
              ></app-input>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="currentTab === 'tab4'">
          <div class="box-address">
            <div class="row">
              <div class="box-item box-cnpj">
                <span>Finalidade Jurídica (área (s) de atuação):</span>
                <app-input
                  type="text"
                  placeholder="Digite o número"
                  name="legalPurpose"
                  ngDefaultControl
                  [(ngModel)]="user.legalPurpose"
                  (onBlur)="onBlur($event)"
                ></app-input>
              </div>
            </div>
            <div class="row">
              <div class="box-item three-itens">
                <span>CNPJ</span>
                <app-input
                  type="text"
                  placeholder="CNPJ"
                  name="cnpj"
                  ngDefaultControl
                  [(ngModel)]="user.cnpj"
                  [value]="user.cnpj"
                ></app-input>
              </div>
              <div class="box-item three-itens">
                <span>Data de constituição</span>
                <app-input
                  type="text"
                  placeholder="Data de criação da instituição"
                  name="estado"
                  ngDefaultControl
                  [(ngModel)]="user.legalDateCreate"
                  [value]="user.legalDateCreate"
                ></app-input>
              </div>
              <div class="box-item three-itens">
                <span>Natureza Jurídica</span>
                <app-input
                  type="text"
                  placeholder="Digite a natureza jurídica da instituição"
                  name="legalNature"
                  ngDefaultControl
                  [(ngModel)]="user.legalNature"
                  [value]="user.legalNature"
                ></app-input>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </form>

    <div class="box-buttons">
      <app-button tipo="primary" width="360px" (click)="register()"
        >Criar conta</app-button
      >
      <app-button tipo="secondary" width="360px" [routerLink]="['/']"
        >Login</app-button
      >
    </div>
  </div>
</app-layout-image-forms>
