<app-layout-image-forms>
  <div class="box-forms">
    <form
      [formGroup]="control"
      class="inputs"
      action="/form"
      autocomplete="off"
    >
      <div class="tabs">
        <div
          (click)="setCurrentTab('tab1')"
          [class.active]="currentTab === 'tab1'"
        >
          <span>Natureza do perfil</span>
        </div>
        <div
          (click)="setCurrentTab('tab2')"
          [class.active]="currentTab === 'tab2'"
        >
          <span>Perfil</span>
        </div>
        <div
          (click)="setCurrentTab('tab3')"
          [class.active]="currentTab === 'tab3'"
        >
          <span>Endereço</span>
        </div>
        <div
          (click)="setCurrentTab('tab4')"
          [class.active]="currentTab === 'tab4'"
        >
          <span>Instituição</span>
        </div>
      </div>

      <div class="tab-content">
        <ng-container *ngIf="currentTab === 'tab1'">
          <h1 class="first-step-title">
            Por favor, selecione se você é um doador ou uma instituição.
          </h1>
          <div class="box-options">
            <div class="box-checkbox">
              <input
                type="radio"
                name="typeInstitution"
                id="receiver"
                value="receiver"
                formControlName="typeInstitution"
                checked
              />
              <span>Serei uma instituição</span>
            </div>

            <div class="box-checkbox">
              <input
                type="radio"
                id="donor"
                name="typeInstitution"
                id="typeInstitution"
                value="donor"
                formControlName="typeInstitution"
              />
              <span>Serei um doador</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="currentTab === 'tab2'">
          <app-input
            type="text"
            placeholder="Nome da instituição"
            name="name"
            ngDefaultControl
            formControlName="name"
            [model]="control.get('name')?.value"
          ></app-input>
          <app-input
            type="text"
            placeholder="Telefone"
            name="phoneNumber"
            ngDefaultControl
            formControlName="phoneNumber"
            [model]="control.get('phoneNumber')?.value"
          ></app-input>
          <app-input
            type="Email"
            placeholder="E-mail"
            name="email"
            ngDefaultControl
            formControlName="email"
            [model]="control.get('email')?.value"
          ></app-input>
          <app-input
            type="password"
            placeholder="Confirmar senha"
            name="password"
            ngDefaultControl
            formControlName="password"
            [model]="control.get('password')?.value"
          ></app-input>
          <app-input
            type="password"
            placeholder="Senha"
            name="confirmPassword"
            ngDefaultControl
            formControlName="confirmPassword"
            [model]="control.get('confirmPassword')?.value"
          ></app-input>
        </ng-container>
        <ng-container *ngIf="currentTab === 'tab3'">
          <div class="box-address">
            <div class="row">
              <div class="box-item box-cep">
                <app-input
                  type="text"
                  placeholder="CEP"
                  name="cep"
                  ngDefaultControl
                  formControlName="cep"
                  (onBlur)="onBlur($event)"
                  [model]="control.get('cep')?.value"
                ></app-input>
              </div>
            </div>
            <div class="row">
              <div class="box-item three-itens">
                <app-input
                  type="text"
                  placeholder="Cidade"
                  name="city"
                  ngDefaultControl
                  formControlName="city"
                  [model]="control.get('city')?.value"
                ></app-input>
              </div>
              <div class="box-item three-itens">
                <app-input
                  type="text"
                  placeholder="Estado"
                  name="state"
                  ngDefaultControl
                  formControlName="state"
                  [model]="control.get('state')?.value"
                ></app-input>
              </div>
              <div class="box-item three-itens">
                <app-input
                  type="text"
                  placeholder="Bairro"
                  name="neighborhood"
                  ngDefaultControl
                  formControlName="neighborhood"
                  [model]="control.get('neighborhood')?.value"
                ></app-input>
              </div>
            </div>

            <div class="row">
              <div class="box-item box-address">
                <app-input
                  type="text"
                  placeholder="Endereço"
                  name="address"
                  ngDefaultControl
                  formControlName="address"
                  [model]="control.get('address')?.value"
                ></app-input>
              </div>
            </div>

            <div class="box-item box-complement">
              <app-input
                type="text"
                placeholder="Complemento"
                name="addressAlias"
                ngDefaultControl
                formControlName="addressAlias"
                [model]="control.get('addressAlias')?.value"
              ></app-input>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="currentTab === 'tab4'">
          <div class="box-address">
            <div class="row">
              <div class="box-item box-cnpj">
                <span>Finalidade Jurídica (área (s) de atuação):</span>
                <app-input
                  type="text"
                  placeholder="Digite o número"
                  name="legalPurpose"
                  ngDefaultControl
                  formControlName="legalPurpose"
                  (onBlur)="onBlur($event)"
                  [model]="control.get('legalPurpose')?.value"
                ></app-input>
              </div>
            </div>
            <div class="row">
              <div class="box-item">
                <span>CNPJ</span>
                <app-input
                  type="text"
                  placeholder="CNPJ"
                  name="cnpj"
                  ngDefaultControl
                  formControlName="cnpj"
                  [model]="control.get('cnpj')?.value"
                ></app-input>
              </div>
              <div class="box-item">
                <span>Data de Constituição</span>
                <app-input
                  type="text"
                  placeholder="Data de criação"
                  name="legalDateCreate"
                  ngDefaultControl
                  formControlName="legalDateCreate"
                  [model]="control.get('legalDateCreate')?.value"
                ></app-input>
              </div>
            </div>
            <div class="row">
              <div class="box-item box-cnpj">
                <span>Natureza Jurídica:</span>
                <app-input
                  type="text"
                  placeholder="Digite a natureza jurídica da instituição"
                  name="legalNature"
                  ngDefaultControl
                  formControlName="legalNature"
                  [model]="control.get('legalNature')?.value"
                ></app-input>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="box-buttons">
        <app-button
          tipo="primary"
          width="360px"
          (click)="register()"
          [disabled]="!formIsValid"
          >Criar conta</app-button
        >
        <app-button tipo="secondary" width="360px" [routerLink]="['/']"
          >Voltar</app-button
        >
      </div>
    </form>
  </div>
</app-layout-image-forms>
