<div class="container">
  <div class="box-image">
    <img src="assets/images/banner-login.png" alt="" />
  </div>

  <div class="box-forms">
    <img class="logo" src="assets/icons/logo.svg" alt="" />
    <p class="slogan">
      <span>Alimentos </span>
      doados, comunidades alimentadas
    </p>
    <form class="inputs" action="/form" autocomplete="off">
      <app-input
        type="text"
        placeholder="Nome"
        name="email"
        ngDefaultControl
      ></app-input>
      <app-input
        type="text"
        placeholder="Whatsapp"
        name="email"
        ngDefaultControl
      ></app-input>
      <app-input
        type="Email"
        placeholder="E-mail"
        name="email"
        ngDefaultControl
      ></app-input>
      <app-input
        type="password"
        placeholder="Confirmar senha"
        name="senha"
        ngDefaultControl
      ></app-input>
      <app-input
        type="password"
        placeholder="Senha"
        name="Confirmar Senha"
        ngDefaultControl
      ></app-input>
    </form>

    <div class="box-buttons">
      <app-button tipo="primary" width="360px">Criar conta</app-button>
      <app-button tipo="secondary" width="360px" [routerLink]="['/']"
        >Login</app-button
      >
    </div>
  </div>
</div>
