@import 'variables'

.inputs
  width: 100%
  margin-top: 16px
  display: flex
  flex-direction: column
  height: 350px

  .tabs
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid #292d323f
    font-size: 14px
    margin-bottom: 12px

    div
      width: 100%
      display: flex
      align-items: center
      justify-content: center
      height: 34px

      span
        cursor: pointer

  .tab-content
    height: auto

    .first-step-title
      font-size: 22px
      color: $color-primary
      text-align: center
      margin: 30px 0
      font-weight: bold

    .box-options
      width: 100%
      display: flex
      align-items: center
      justify-content: space-between
      margin-top: 10px

      .box-checkbox
        width: 46%
        display: flex
        align-items: center
        height: 30px

        span
          margin-right: 20px
          font-size: 20px

        input
          cursor: pointer

    .box-address
      display: flex
      flex-direction: column

      .box-item, .box-cep
        display: flex
        flex-direction: column
        width: 49%

        span
          margin-bottom: 6px
          font-size: 16px
          font-weight: 600

      .box-cep, .box-cnpj
        width: 100%

      .box-address, .box-complement
        width: 100%

      .three-itens
        width: 32%

    .row
      width: 100%
      display: flex
      justify-content: space-between

.box-buttons
  width: 100%
  height: 80px
  display: flex
  flex-direction: column
  justify-content: space-between
  margin-top: 8px



.active
  border-bottom: 2px solid $color-primary

  span
    font-weight: 600
