<!-- <div class="container">
  <div class="box-image">
    <img src="assets/images/banner-login.png" alt="" />
  </div>

  <form class="box-forms">
    <img class="logo" src="assets/icons/logo.svg" alt="" />
    <p class="slogan">
      <span>Alimentos </span>
      doados, comunidades alimentadas
    </p>
    <div class="inputs">
      <app-input
        type="email"
        placeholder="Digite seu email"
        name="senha"
        ngDefaultControl
        [(ngModel)]="email"
      ></app-input>
    </div>

    <div class="box-button">
      <app-button tipo="primary" width="360px">Enviar</app-button>
    </div>
  </form>
</div> -->

<app-layout-image-forms>
  <form class="box-forms">
    <div class="inputs">
      <label for="email">Email</label>
      <app-input
        type="email"
        placeholder="Digite seu email"
        name="email"
        ngDefaultControl
        [(ngModel)]="email"
      ></app-input>
    </div>

    <div class="box-button">
      <app-button tipo="primary" width="360px">Enviar</app-button>
    </div>
    <div class="box-button">
      <app-button tipo="secondary" width="360px" routerLink="/login"
        >Voltar</app-button
      >
    </div>
  </form>
</app-layout-image-forms>
