<div class="main">
  <div class="title-and-button">
    <h1>Histórico de doações</h1>
    <div class="box-button">
      <app-button pathIcon="assets/icons/add.svg" theme="primary"
        >Agendar doação</app-button
      >
    </div>
  </div>
  <div class="cards">
    <app-card title="Quantidade de doações" number="16"></app-card>
    <app-card title="Pessoas alimentadas" number="120"></app-card>
    <app-card title="Moedas adquiridas" number="$20"></app-card>
  </div>
  <div class="box-table">
    <app-table></app-table>
  </div>
</div>
