@import './../../core/styles/variables'

.main
  width: 80%
  padding: 46px 60px 40px 48px
  box-sizing: border-box

  .title-and-button
    width: 100%
    display: flex
    justify-content: space-between

    .box-button
      width: 174px

  .cards
    width: 100%
    display: flex
    justify-content: space-between
    margin-top: 20px

  .box-table
    margin-top: 90px







