<div class="search-container">
  <input
    type="text"
    placeholder="Pesquisar instituição"
    (input)="onSearch($event)"
    #searchInput
  />
  <img src="assets/icons/search.svg" alt="" />

  <ng-container *ngIf="filteredResults.length > 0">
    <div
      class="box-results"
      [ngStyle]="{ display: showResults ? 'flex' : 'none' }"
    >
      <ng-container *ngFor="let result of filteredResults">
        <span class="option" (click)="redirect(result.id)">{{
          result.name
        }}</span>
      </ng-container>
    </div>
  </ng-container>
</div>
